* {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: #fff;
}
.box {
  background-color: #141924;
  position: relative;
}
.box .nav {
  width: 100%;
  border-top: 1px solid transparent;
  background-color: #19202b;
  display: flex;
  padding: 15px 0;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.box .nav .login {
  width: 110px;
  height: 32px;
  margin-left: 20px;
}
.box .nav .login img {
  width: 100%;
  height: 100%;
}
.box .nav .references {
  margin-right: 20px;
}
.box .nav .references .button {
  background-color: transparent;
  border-radius: 4px;
  border: 0;
  padding: 10px 0;
}
.box .nav .references .button .icon-bar {
  display: block;
  width: 22px;
  height: 2px;
  border-radius: 1px;
  background-color: #acacac;
}
.box .nav .references .button .icon-bar + .icon-bar {
  margin-top: 4px;
}
.box .bar {
  border-top: 1px solid #e7e7e7;
  background-color: #19202b;
  padding: 0 20px;
  display: none;
}
.box .bar ul li {
  margin-top: 20px;
}
.box .title {
  margin-top: 50px;
  margin-left: 20px;
}
.box .title .grenhr {
  background-image: linear-gradient(90deg, #09E4A2 0%, #00A9FF 100%);
  border-radius: 3px;
  width: 100px;
  height: 5px;
}
.box .title .whitepaper {
  width: 125px;
  height: 50px;
  border: 2px solid #FFFFFF;
  border-radius: 25px;
  background-color: #141924;
  color: #fff;
}
.box .title .exchange {
  width: 125px;
  height: 50px;
  border: none;
  background-image: linear-gradient(90deg, #09D3AF 0%, #09B8C2 18%, #0965FF 100%);
  border-radius: 25px;
  margin-left: 5.7%;
  color: #fff;
}
.box .card {
  margin-top: 100px;
}
.box .card .top_div {
  margin-top: 20px;
}
.box .card .cardm {
  background-color: #1E49D3;
  border-radius: 30px 0 30px 0;
  width: 90%;
  height: 355px;
  margin: 0 auto;
  position: relative;
}
.box .card .cardm .elementor-105 .elementor-element.elementor-element-1f3dbcb6.elementor-column.elementor-element[data-element_type="column"] > .elementor-column-wrap.elementor-element-populated > .elementor-widget-wrap {
  align-content: inherit;
  align-items: inherit;
}
.box .card .cardm .left_top {
  width: 100px;
  height: 120px;
  display: inline-block;
  position: relative;
  background-image: url(../img/lefttop.png);
}
.box .card .cardm .right_top {
  width: 86px;
  height: 83px;
  display: inline-block;
  position: absolute;
  right: 0;
  background-image: url(../img/righttop.png);
}
.box .card .cardm .right_bottom,
.box .card .cardm .right_bottomtow,
.box .card .cardm .right_bottomthree {
  width: 100px;
  display: inline-block;
  position: absolute;
  right: 0;
  bottom: 0;
  background-size: 100%;
}
.box .card .cardm .right_bottom {
  background-image: url(../img/rightbotton.png);
  height: 130px;
}
.box .card .cardm .right_bottomtow {
  background-image: url(../img/rightdowntow.png);
  height: 130px;
}
.box .card .cardm .right_bottomthree {
  background-image: url(../img/supit.png);
  background-position-x: 77%;
  height: 130px;
  background-size: 790%;
  background-position-y: 36%;
}
.box .card .cardm .text_crente {
  font-size: 24px;
  font-family: Arial-BoldMT;
  color: #FFFFFF;
  text-align: center;
  width: 100%;
  position: absolute;
  font-weight: bold;
  top: 50px;
}
.box .card .cardm .trend {
  width: 50px;
  height: 5px;
  background-image: linear-gradient(90deg, #09E4A2 0%, #00A9FF 100%);
  border-radius: 3px;
  position: absolute;
  top: 95px;
  left: 145px;
}
.box .card .cardm .text_tera {
  height: 20px;
  font-size: 16px;
  color: #FFFFFF;
  text-align: center;
  line-height: 20px;
  margin: 0 auto;
  z-index: 1;
}
.box .card .cardm .btn {
  margin-top: 100px;
  text-align: center;
}
.box .card .cardm .launch {
  width: 80px;
  height: 35px;
  background: #FFFFFF;
  border-radius: 20px;
  border: none;
  color: #1E49D3;
}
.box .card .cardm .circle_one {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.26);
  position: absolute;
  top: 62%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.box .card .cardm .circle_tow {
  width: 110px;
  height: 110px;
  border-radius: 50%;
  text-align: center;
  font-size: 16px;
  color: #FFFFFF;
  font-weight: bold;
  border: 3px solid rgba(255, 255, 255, 0.26);
  margin: 8px auto;
}
.box .card .cardm .iocn_a {
  display: inline-block;
  width: 3.7rem;
  height: 3.7rem;
  border-radius: 50%;
  background-color: #19202B;
}
.box .card .icon_box {
  width: 90%;
  margin: 50px auto auto auto;
  text-align: center;
}
.box .card .icon_box .context {
  font-size: 12px;
  margin-top: 30px;
}
.box .card .anima {
  width: 90%;
  margin: 0  auto;
}
.box .elementor .card_left {
  width: 90%;
  margin: 0 auto;
  z-index: 99;
  background: #19202B;
}
.box .elementor .card_left .down {
  display: none ;
}
.box .elementor .card_option {
  height: 60px;
  margin-top: 4%;
  padding: 0 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
  background: #141924;
}
.box .elementor .text_ms {
  font-size: 18px;
  flex-wrap: wrap;
  color: #fff;
}
.box .elementor .option {
  background: #32578C !important;
}
.box .elementor .option .up {
  display: none;
}
.box .elementor .option .down {
  display: block;
}
.box .elementor .MuiSvgIcon-root {
  fill: white;
  width: 12px;
  height: 12px;
  display: inline-block;
  font-size: 12px;
  transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  flex-shrink: 0;
  user-select: none;
}
.box .elementor .card_right {
  height: 190px;
  width: 90%;
  margin-top: 15px;
  position: relative;
}
.box .elementor .right_box {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  left: 0;
  padding-left: 25px;
  padding-right: 40px;
  background-image: url('../img/background.png');
  transition: left 0.7s;
  background-size: 100%;
}
.box .elementor .right_box img {
  width: 80px;
  height: 80px;
}
.box .elementor .tabpane {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding-right: 40px;
  width: 57%;
}
.box .elementor .tit {
  margin-top: 30px;
  font-size: 16px;
  color: white;
}
.box .elementor .textm {
  font-size: 12px;
  color: white;
  margin-top: 24px;
  flex-grow: 1;
  overflow-x: hidden;
}
.box .elementor .animation {
  left: -857px !important;
  z-index: -1;
}
.box .footer a {
  margin-left: 10px;
}
.box .footer .soc-widget {
  width: 90%;
  margin: 0 auto;
  text-align: center;
}
