* {
  margin: 0;
  padding: 0;
  outline: none;
}
.setallowance {
  background-color: #19202b !important;
  height: 100vh;
  color: #ffffff;
  position: relative;
}
.setallowance .nav {
  display: flex;
  height: 80px;
  justify-content: space-between;
  align-items: center;
  background-color: #141924;
}
.setallowance .nav .logo {
  height: 50px;
  margin-left: 40px;
}
.setallowance .nav .logo img {
  height: 100%;
}
.setallowance .nav .connectw {
  margin-right: 40px;
}
.setallowance .nav .connectw .connect {
  width: 180px;
  height: 40px;
  background: linear-gradient(90deg, #09D3AF 0%, #09B8C2 18%, #0965FF 100%);
  border-radius: 41px;
  border: 0;
  color: #fff;
}
.setallowance .container-fluid {
  position: relative;
}
.setallowance .box {
  width: 625px;
  position: absolute;
  top: 300px;
  left: 50%;
  transform: translateX(-50%);
}
.setallowance .box input[type='radio'] {
  color: black;
}
.setallowance .box .select_network {
  margin-top: 10px;
}
.setallowance .box .address {
  width: 615px;
}
.setallowance .box .address button {
  margin-left: 10px;
  background-image: linear-gradient(90deg, #09d3af 0%, #09b8c2 18%, #0965ff 100%);
  border-radius: 24px;
  height: 38px;
  border: 0;
  color: #fff;
  width: 200px;
}
